@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #E2AFF4 0.89%,
    #CF83EA 17.23%,
    #C73AF9 42.04%,
    #BE16F9 55.12%,
    #B508F1 71.54%,
    #9402C8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #E2AFF4 -43.27%,
    #CF83EA -21.24%,
    #C73AF9 12.19%,
    #BE16F9 29.82%,
    #B508F1 51.94%,
    #9402C8 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.service-card{
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.service-card:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-10px);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: var(--black-gradient);
  transition: transform 0.5s ease-in-out;
  transform: translateY(-10px);
}

.feedback-card:hover {
  cursor: pointer;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(179, 95, 165, 0) 0%, #632070 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #ad70ac 0%, #B43CD3 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* CUSTOME CSS */
.com-color {
  color: #B318EA;
}

.animate-vertical {
  transition: transform 0.5s ease-in-out;
}

.animate-vertical:hover {
  transform: translateY(-10px);
}

.btn-outline-color {
  outline-color: #B318EA;
}

.get-quote-btn-grad {
  background-image: linear-gradient(to bottom right, #B318EA, #0f0114);
  transition-property: background-image;
  transition-duration: 1s;
  transition-delay: 1s;
}

.get-quote-btn-grad:hover {
  background-image: linear-gradient(to bottom right,#0f0114, #B318EA);
}

